:root{
    --background-color-light:#f4f4f4;
    --background-color-dark:#333;
    --text-color-light: #333;
    --text-color-dark: #171818;
}
.logo{
    display:flex;
    align-content: center;
    justify-content: center;
    color: red;
}
body {
    background-color: var(--background-color-light);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color-light);
    transition: 0.15s all ease;
}

body.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #888888;

}

a {
    text-decoration: none;
    color: #2b2d42;
}

a:hover{
    color: #81b29a;
}

form {
    background: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #888888;
}

form div{
    margin-bottom: 20px;
}

form label{
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form textarea{
    width: 100%;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="checkbox"]{
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"], a.button{
    background: #3d405b;
    color: #fff;
    border: 0;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 200ms linear;
}

form input[type="submit"]:hover, a.button{
    background: #AD310B;
    color: #fefefe;
    transition: background-color 200ms linear;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.error {
    color: red;
    font-size: 0.8em;
}

.todo-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.todo-card{
    width: calc(30% - 40px);
    transition: transform 0.3s ease;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #08c4ac;
    margin-bottom: 20px;
    padding: 20px;
}
.todo-card:hover{
    transform: translateY(-5px);
}

.todo-card h1{
    font-size: 1.2em;
}

.todo-actions {
    margin-top: 10px;
}

.todo-actions a{
    margin-right: 10px;
    text-decoration: none;
    background: #3d405b;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s all ease;
}

.todo-actions a:hover{
    background: #388888;
}


@media screen and (max-width: 768px){
    .todo-card{
        width: 100% !important;
    }
}
